@font-face {
    font-family: "Matura";
    src: url("http://www.dynamicdiner.com/images/game/MATURASC.ttf");
}
body
{
    background-image: url("http://www.dynamicdiner.com/images/game/concrete_surface.jpg");
    margin-top: 20px;
    font-size: 12pt;
}

.logo {
    width: 300px;
    margin-left: 40%;
    margin-bottom: 20px;
}
.game-container
{
    width: 1600px;
    margin: auto;    
}
.legend-cell
{
    @extend .board-cell;
    padding: 8px; 
    width: 8px;
    border: 1px solid black; 
}
label 
{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    font-weight: bold;
}
.legend-label {
    font-weight: normal;
    vertical-align: middle;    
}
h1 {
    font: 50pt "Matura";
    text-align: center;     
    text-shadow: rgb(224, 224, 224) 1px 1px 0px;   
}
.table-row {
    display: table-row;
}
.table-cell 
{
    display: table-cell;
}
.info-panels
{
    width: 500px;
    padding-left: 50px;
}
.info-panel 
{
   height: 293px;
   margin: 10px;
}
.info {
    padding-top: 20px;
    margin: 10px;
}
.info-header
{
    text-align: center;
    font: 20pt "Matura";
    text-transform: uppercase;
}
.scroll-top
{
    background-image: url("http://www.dynamicdiner.com/images/game/scrollTop.png");
    width:52px;
}
.scroll-end
{
    background-image: url("http://www.dynamicdiner.com/images/game/scrollEnd.png");
    width:56px;
}
.scroll-body
{
    background-image: url("http://www.dynamicdiner.com/images/game/scrollBody.png");
    width: 268px;
    height: 293px;
    background-position: center;
    background-repeat: no-repeat;      
}

.gameResult {
    height: 500px;
    width: 600px;
    cursor: pointer;
    &#won {
        background-image: url("http://www.dynamicdiner.com/images/game/won.png");
    }
    &#lost {
        background-image: url("http://www.dynamicdiner.com/images/game/lost.png");       
    }
}
.board-row {
    @extend .table-row;
    height: 12px; 
}
.map {
    text-align: center;
    vertical-align: top;
    width: 700px;
}
.board-cell {
    @extend .table-cell;
    height: inherit;
    width: 12px;
    //border: 1px solid;
    &.floor {
        background-color: floralwhite;
    }
    &.hidden {
        background-color: black;
    }
    &.boss {
        background-color: deepskyblue;
    }
    &.monster {
        background-color: red;
    }
    &.weapon {
        background-color: orange;
    }
    &.health{
        background-color: limegreen;
    }
    &.player {
        background-color: blue;
    }
    &.stairs {
        background-color: rebeccapurple;
    }
    &.empty {
        background-color: dimgray;
    }
}
button
{
    cursor: pointer;
}