.board-row {
    display: table-row;
    height: 15px;
}

.board-cell {
        display: table-cell;
        height: inherit;
        width: 15px;
        border: 1px solid;
        &.floor {
            background-color: tan; 
        }
        &.wall {
            background-color: black;
        }
        &.corridor {
            background-color: yellow;
        }
        &.monster {
            background-color: red;
        }
        &.weapon {
            background-color: orange;
        }
        &.health{
            background-color: limegreen;
        }
        &.player {
            background-color: blue;
        }
        &.stairs {
            background-color: rebeccapurple;
        }
        // &.boss {}
        // &.stairCaseUp{}
        // &.stairCaseDown{}

    }